.create-page {
  color: #fff;
  background: #555;
  min-height: 650px;
  display: block;
}
.create-page .video-player {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .create-actions {
  width: 130px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .add-question-form {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
.create-page .add-question-form input[type=text] {
  width: 100%;
  padding: 5px;
  border: none;
  margin-bottom: 3px;
  font-size: 18px;
}
.create-page .questions {
  width: 100%;
}
.create-page .questions thead {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0;
}
.create-page .questions thead th {
  padding-bottom: 15px;
}
.create-page .questions tbody td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.create-bottom,
.create-top {
  width: 100%;
  display: block;
  padding: 20px 10px;
}
.create-bottom {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
