.create-page {
  color: #fff;
  background: #000;
  min-height: 650px;
  display: block;
  font-size: 16px;
}
.create-page button {
  background: #4A90E2;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 2px;
  border: none;
  color: #fff;
}
.create-page #time {
  margin-bottom: 20px;
}
.create-page .select-correct {
  margin-top: 5px;
  display: inline-block;
}
.create-page .form-buttons {
  text-align: right;
  display: inline-block;
  float: right;
}
.create-page .video-player {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .create-actions {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .create-actions button {
  width: 100%;
}
.create-page .create-actions #add-question {
  margin-bottom: 15px;
}
.create-page .add-question-form {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
.create-page .add-question-form input[type=text] {
  width: 100%;
  padding: 5px;
  border: none;
  margin-bottom: 3px;
  font-size: 18px;
}
.create-page .questions {
  width: 100%;
}
.create-page .questions thead {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0;
}
.create-page .questions thead th {
  padding-bottom: 15px;
}
.create-page .questions tbody td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.create-bottom,
.create-top {
  width: 100%;
  display: block;
  padding: 20px 10px;
}
.create-top {
  height: 250px;
}
.create-bottom {
  width: 100%;
  min-height: 400px;
  background: #2A2A2A;
}
