.tile {
  position: relative;
  width: 200px;
  height: 330px;

  padding: 10px;
  margin: 0;

  display: inline-block;
  vertical-align: top;

  font-size: 0;
  overflow: hidden;
  transform-origin: center;

  opacity: 1;

  transition: opacity .2s ease-out;

  &.active, &:focus {
    outline: none;

    transform: scale(1.03) translateY(-2px);
    .tile--title {
      background: #999;
      color: #000;
    }
    .tile--poster {
    }
  }
  .loading &{
    opacity: 0;
  }
  
  .new {
    display: none;
  }
  
  &.challenge .new {
    display: block;
    position: absolute;
    z-index: 10;
    line-height: 40px;
    text-align: center;
    top: 15px;
    left: 15px;
    right: 5px;
    border-radius: 10px;
    background-color: #f00;
    box-shadow: 0 0 10px yellow;
    font-size: 20px;
    color: #fff;
  }
}

.tile--poster {
  width: 200px;
  height: 264px;
  padding: 0;
  margin: 0;

  transform-origin: center;
  transition: transform .1s ease-out;
}

.tile--title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 20px;
  background: #333;
  font-size: 14px;
  font-weight: bold;
  transform-origin: center;

  padding: 20px 10px;
  margin: 0;

  min-height: 55px;
  line-height: 1.1;
  width: 100%;

  color: #fff;

  display: inline-block;

  transition: all .2s ease-out;
}
