.tile {
  position: relative;
  width: 300px;
  height: 504px;
  padding: 10px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  overflow: hidden;
  transform-origin: center;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.tile.active {
  outline: none;
  transform: scale(1.03) translateY(-2px);
}
.tile.active .tile--title {
  background: #999;
  color: #000;
}
.loading .tile {
  opacity: 0;
}
.tile--poster {
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.tile--title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 20px;
  background: #333;
  font-size: 14px;
  font-weight: bold;
  transform-origin: center;
  padding: 20px 10px;
  margin: 0;
  min-height: 55px;
  line-height: 1.1;
  width: 100%;
  color: #fff;
  display: inline-block;
  transition: all 0.2s ease-out;
}
