.constants {
  color: red;
}
/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #161616;
}
.logo {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  font: 0/0 'a';
  width: 146px;
  height: 55.5px;
  background: url(../img/logo.png) no-repeat center;
  background-size: 146px 55.5px;
}
.tile {
  position: relative;
  width: 300px;
  height: 504px;
  padding: 10px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  overflow: hidden;
  transform-origin: center;
}
.tile.active {
  outline: none;
  transform: scale(1.03) translateY(-2px);
}
.tile.active .tile--title {
  background: #999;
  color: #000;
}
.loading .tile {
  visibility: hidden;
}
.tile--poster {
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.tile--title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 20px;
  background: #333;
  font-size: 14px;
  font-weight: bold;
  transform-origin: center;
  padding: 20px 10px;
  margin: 0;
  min-height: 55px;
  line-height: 1.1;
  width: 100%;
  color: #fff;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.catalog {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 70px;
  display: block;
  font-size: 0;
}
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Interstate Pro', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}
.player {
  width: 1920px;
  height: 1080px;
}
video {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 1;
}
#answer,
#question {
  display: none;
  z-index: 3;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
}
.seekBar {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  box-sizing: border-box;
  border-bottom: 5px solid #D8D8D8;
}
.progress {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  height: 10px;
  background-color: #4A90E2;
}
.player {
  position: relative;
}
.tQuestion {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 16px #000;
}
.tHelper {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 4px #000;
}
.tQuestions {
  padding: 0;
  margin: 0;
  margin-top: 2%;
}
.tQuestions button {
  position: relative;
  appearance: none;
  border: 0;
  text-align: left;
  color: #fff;
  font-family: 'Interstate Pro', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  display: block;
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: #2B2B2B;
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 50px;
  padding-left: 100px;
}
.tQuestions button span {
  position: absolute;
  width: 75px;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 130px;
  text-align: center;
  color: #4a90e2;
  font-size: 2.4em;
  background-color: #000;
  font-weight: bold;
}
.tQuestions button.selected {
  background-color: #D3D3D3;
  color: #000;
}
.tQuestions button.hidden {
  opacity: .3;
}
.tUr,
.tResult,
.tScore {
  text-align: center;
  text-shadow: 0 0 16px #000;
  font-size: 2em;
}
.tResult {
  font-size: 4em;
  text-align: center;
}
.tResult span {
  display: inline-block;
  width: 400px;
}
.tScore {
  margin-bottom: 15px;
}
.qBar {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  z-index: 2;
}
.qBar > div {
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 22px;
  background-color: #fff;
}
.qBar > div.true {
  background-color: #7ED321;
}
.qBar > div.false {
  background-color: red;
}
.qBar > div.active {
  height: 50px;
}
.end-page {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.results {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  width: 900px;
  vertical-align: top;
  z-index: 100;
  color: #FFFFFF;
  margin: auto;
}
.end--list {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  min-height: 210px;
}
.end--list h1 {
  font-size: 36px;
  color: #4A90E2;
  margin-bottom: 25px;
}
.end--list span {
  display: block;
  margin-bottom: 3px;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
.bottom-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  width: 100%;
}
.back-btn {
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #4A90E2;
  width: 300px;
  padding: 20px 0;
  text-decoration: none;
}
.is-me {
  color: #4A90E2;
}
.wrong-answer:after,
.correct-answer:after {
  content: ' ';
  padding: 5px 0 5px 25px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.correct-answer:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0MUFENDk7fQo8L3N0eWxlPjxnPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iNDM0LjgsNDkgMTc0LjIsMzA5LjcgNzYuOCwyMTIuMyAwLDI4OS4yIDE3NC4xLDQ2My4zIDE5Ni42LDQ0MC45IDE5Ni42LDQ0MC45IDUxMS43LDEyNS44IDQzNC44LDQ5ICAgICAiLz48L2c+PC9zdmc+) no-repeat left center;
}
.wrong-answer:after {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDYxMiA3OTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA2MTIgNzkyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNFNDQwNjE7fQo8L3N0eWxlPjxnPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMzgyLjIsMzk2LjQgNTYwLjgsMjE3LjggNDg0LDE0MSAzMDUuNCwzMTkuNiAxMjYuOCwxNDEgNTAsMjE3LjggMjI4LjYsMzk2LjQgNTAsNTc1IDEyNi44LDY1MS44ICAgIDMwNS40LDQ3My4yIDQ4NCw2NTEuOCA1NjAuOCw1NzUgMzgyLjIsMzk2LjQgICIvPjwvZz48L3N2Zz4=) no-repeat left center;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  font-family: 'InterstatePro', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
.page {
  background: #161616;
  width: 100%;
  min-height: 100%;
  display: block;
  padding-top: 70px;
}
.page-title {
  font-size: 50px;
  color: #fff;
  padding-left: 10px;
  margin: 15px 0 20px;
}
