.constants {
  color: red;
}
/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #161616;
}
.logo {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto;
  font: 0/0 'a';
  width: 146px;
  height: 55.5px;
  background: url(../img/logo.png) no-repeat center;
  background-size: 146px 55.5px;
}
.tile {
  position: relative;
  width: 200px;
  height: 330px;
  padding: 10px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  overflow: hidden;
  transform-origin: center;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.tile.active,
.tile:focus {
  outline: none;
  transform: scale(1.03) translateY(-2px);
}
.tile.active .tile--title,
.tile:focus .tile--title {
  background: #999;
  color: #000;
}
.loading .tile {
  opacity: 0;
}
.tile .new {
  display: none;
}
.tile.challenge .new {
  display: block;
  position: absolute;
  z-index: 10;
  line-height: 40px;
  text-align: center;
  top: 15px;
  left: 15px;
  right: 5px;
  border-radius: 10px;
  background-color: #f00;
  box-shadow: 0 0 10px yellow;
  font-size: 20px;
  color: #fff;
}
.tile--poster {
  width: 200px;
  height: 264px;
  padding: 0;
  margin: 0;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}
.tile--title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 20px;
  background: #333;
  font-size: 14px;
  font-weight: bold;
  transform-origin: center;
  padding: 20px 10px;
  margin: 0;
  min-height: 55px;
  line-height: 1.1;
  width: 100%;
  color: #fff;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.catalog {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 70px;
  display: block;
  font-size: 0;
}
.facebook {
  float: right;
  font-size: 24px;
  appearance: none;
  border: 0;
  color: #fff;
  background-color: #3b5998;
  text-align: center;
  width: 190px;
  padding: 10px 0;
}
.facebook.active,
.facebook:focus {
  outline: 0;
  background-color: #6666ff;
}
.create {
  float: right;
  font-size: 24px;
  appearance: none;
  border: 0;
  color: #fff;
  background-color: #3b5998;
  text-align: center;
  width: 190px;
  padding: 10px 0;
  padding: 0 0;
  margin-left: 10px;
  text-decoration: none;
}
.create.active,
.create:focus {
  outline: 0;
  background-color: #6666ff;
}
.player {
  width: 1280px;
  height: 720px;
}
.player-loading {
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 720px;
  text-align: center;
  font-size: 3em;
  color: #fff;
}
.player video {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 1;
}
#answer,
#question,
#progress-timeout {
  display: none;
  z-index: 3;
  position: absolute;
  width: 94%;
  left: 3%;
  bottom: 10%;
}
.seekBar {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0;
  box-sizing: border-box;
  border-bottom: 5px solid #D8D8D8;
}
.progress {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  height: 10px;
  background-color: #4A90E2;
  transition: width 1s linear;
}
.player {
  position: relative;
}
.tQuestion {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 16px #000;
}
.tHelper {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 0 0 16px #000;
}
.tQuestions {
  padding: 0;
  margin: 0;
  margin-top: 2%;
}
.tQuestions button {
  position: relative;
  border: none;
  text-align: left;
  color: #fff;
  display: block;
  float: left;
  width: 49%;
  margin-right: 1%;
  margin-bottom: 2%;
  background-color: #2B2B2B;
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 35px;
  padding-left: 100px;
  transition: opacity 0.3s ease-out, transform 0.3s ease-in;
}
.tQuestions button:nth-child(even) {
  margin-right: 0;
  margin-left: 1%;
}
.tQuestions button span {
  position: absolute;
  width: 75px;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 102px;
  text-align: center;
  color: #4a90e2;
  font-size: 2.4em;
  background-color: #000;
  font-weight: bold;
}
.tQuestions button.selected {
  background-color: #D3D3D3;
  color: #000;
}
.tQuestions button.hidden {
  transform: scale(0.95);
  opacity: .3;
}
.tUr,
.tResult,
.tScore {
  text-align: center;
  text-shadow: 0 0 16px #000;
  font-size: 2em;
  color: #fff;
}
.tResult {
  color: #fff;
  font-size: 4em;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-in, transform 0.2s ease-out;
}
.tResult span {
  display: inline-block;
  width: 400px;
  font-weight: bold;
}
.tScore {
  margin-bottom: 15px;
  margin-top: 2em;
  font-size: 1.7em;
}
.qBar {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  z-index: 2;
}
.qBar > div {
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 5px;
  background-color: #fff;
}
.qBar > div.true {
  background-color: #7ED321;
}
.qBar > div.false {
  background-color: red;
}
.qBar > div.true,
.qBar > div.false {
  height: 7px;
}
.qBar > div.active {
  background-color: #4A90E2;
}
#progress-timeout {
  background: rgba(0, 0, 0, 0.3);
  height: 10px;
  overflow: hidden;
}
#progress-timeout .progress-track {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 1s linear;
  left: -100%;
  background: #4A90E2;
}
.question-upcoming-notification {
  color: #fff;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  right: 20px;
  font-size: 30px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
tr .question-upcoming-notification.hidden {
  opacity: 0;
}
.question-upcoming-notification > p {
  text-shadow: 0 0 16px #000;
}
.question-upcoming-notification .notification-circle {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background-color: #4A90E2;
  padding-top: 55px;
  font-size: 24px;
  margin: 10px auto;
}
.question-upcoming-notification .notification-circle .time {
  display: block;
  font-size: 74px;
}
.tResult-right {
  color: green;
}
.tResult-wrong {
  color: red;
}
#answer.anticipation .tResult {
  transform: scale(0.4) transformY(-15px);
  opacity: 0;
}
#answer.anticipation .tQuestions button.hidden {
  transform: scale(1);
  opacity: 1;
}
.end-page {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.results {
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  width: 1100px;
  vertical-align: top;
  z-index: 100;
  color: #FFFFFF;
  margin: auto;
}
.end--list {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  min-height: 210px;
}
.end--list h1 {
  font-size: 36px;
  color: #4A90E2;
  margin-bottom: 25px;
}
.end--list span {
  display: block;
  margin-bottom: 7px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
.bottom-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  width: 100%;
}
.back-btn {
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #4A90E2;
  width: 300px;
  padding: 20px 0;
  text-decoration: none;
}
.is-me {
  color: #4A90E2;
}
.wrong-answer:before,
.correct-answer:before {
  content: ' ';
  padding: 5px 0 5px 25px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.correct-answer:before {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0MUFENDk7fQo8L3N0eWxlPjxnPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iNDM0LjgsNDkgMTc0LjIsMzA5LjcgNzYuOCwyMTIuMyAwLDI4OS4yIDE3NC4xLDQ2My4zIDE5Ni42LDQ0MC45IDE5Ni42LDQ0MC45IDUxMS43LDEyNS44IDQzNC44LDQ5ICAgICAiLz48L2c+PC9zdmc+) no-repeat left center;
}
.wrong-answer:before {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDYxMiA3OTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA2MTIgNzkyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNFNDQwNjE7fQo8L3N0eWxlPjxnPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMzgyLjIsMzk2LjQgNTYwLjgsMjE3LjggNDg0LDE0MSAzMDUuNCwzMTkuNiAxMjYuOCwxNDEgNTAsMjE3LjggMjI4LjYsMzk2LjQgNTAsNTc1IDEyNi44LDY1MS44ICAgIDMwNS40LDQ3My4yIDQ4NCw2NTEuOCA1NjAuOCw1NzUgMzgyLjIsMzk2LjQgICIvPjwvZz48L3N2Zz4=) no-repeat left center;
}
.create-page {
  color: #fff;
  background: #000;
  min-height: 650px;
  display: block;
  font-size: 16px;
}
.create-page button {
  background: #4A90E2;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 2px;
  border: none;
  color: #fff;
}
.create-page #time {
  margin-bottom: 20px;
}
.create-page .select-correct {
  margin-top: 5px;
  display: inline-block;
}
.create-page .form-buttons {
  text-align: right;
  display: inline-block;
  float: right;
}
.create-page .video-player {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .create-actions {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
}
.create-page .create-actions button {
  width: 100%;
}
.create-page .create-actions #add-question {
  margin-bottom: 15px;
}
.create-page .add-question-form {
  display: inline-block;
  vertical-align: top;
  width: 500px;
}
.create-page .add-question-form input[type=text] {
  width: 100%;
  padding: 5px;
  border: none;
  margin-bottom: 3px;
  font-size: 18px;
}
.create-page .questions {
  width: 100%;
}
.create-page .questions thead {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 0;
}
.create-page .questions thead th {
  padding-bottom: 15px;
}
.create-page .questions tbody td {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.create-bottom,
.create-top {
  width: 100%;
  display: block;
  padding: 20px 10px;
}
.create-top {
  height: 250px;
}
.create-bottom {
  width: 100%;
  min-height: 400px;
  background: #2A2A2A;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html,
body {
  font-family: 'InterstatePro', 'Interstate Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #000;
}
.page {
  background: #161616;
  width: 100%;
  min-height: 100%;
  display: block;
  overflow: hidden;
  padding-top: 70px;
}
.page-title {
  font-size: 50px;
  color: #fff;
  padding-left: 10px;
  margin: 15px 0 20px;
}
.fb {
  width: 1280px;
  height: 720px;
  background-color: #000;
}
.fbs {
  padding-top: 100px;
  position: relative;
}
.content {
  padding: 20px;
  color: #fff;
}
.content ul {
  list-style: square;
  font-weight: 400;
  margin: 40px;
  padding-left: 50px;
}
.content ul li {
  line-height: 30px;
}
.popup {
  padding: 20px;
  background-color: #fff;
  color: #666;
  position: absolute;
  width: 300px;
  top: 80px;
  right: 20px;
  transform: translateX(500px);
  box-shadow: 0 0 10px black;
  border: 1px solid #666;
  transition: transform 0.3s ease-out;
}
.popup.show {
  transform: translateX(0px);
}
#return {
  color: white;
  padding: 10px;
}
#return:focus {
  outline: 1px solid white;
}
.hidden {
  display: none;
}
.login {
  float: right;
  display: none;
  font-size: 24px;
  line-height: 50px;
}
