@import "css/_constants";

@import "css/reset";
@import "css/_header";

@import "css/_tile";
@import "css/_catalog";


*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'InterstatePro', sans-serif;
  font-size: 18px;
}


.page {
  background: #161616;
}
