@import "css/_constants";

@import "css/reset";
@import "css/_header";

@import "css/_tile";
@import "css/_catalog";


*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'InterstatePro', sans-serif;
  font-size: 18px;
  width: 1920px;
  height: 1080px;
  display: block;
  overflow-x: hidden;
}


.page {
  background: #161616;
}
.page-title {
  font-size: 50px;
  color: #fff;
  padding-left: 10px;
  margin: 15px 0 20px;
}
