<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player</title>
  <link rel='stylesheet' href='css/main.css' />
</head>
<body>
  <div class='player'>
    <audio id="audio-correct">
      Your browser does not support the <code>audio</code> element.
      <source src="media/correct.wav" type="audio/wav">
    </audio>
    <audio id="audio-wrong">
      Your browser does not support the <code>audio</code> element.
      <source src="media/wrong.wav" type="audio/wav">
    </audio>

    <div class='player-loading'>Loading...</div>

    <video
      id='player'
      src=''>
      <source src= '' type="video/mp4" />
    </video>

    <div class="qBar" id="q-bar"></div>
    <div type="range" class='seekBar' id="seek-bar" />
      <div class='progress' id='progress'></div>
    </div>

    <div id="question"></div>
    <div id="answer"></div>
    <div id="progress-timeout">
      <div class="progress-track"></div>
    </div>

    <div class="question-upcoming-notification hidden">
      <p>Grab your remote!</p>
      <div class="notification-circle">
        <span class="time">10</span>
        <span>seconds</span>
      </div>
      <p>New question is coming up!</p>
    </div>

  </div>

  <script type='text/html' id='question-template' style='display:none'>
    <% if (finished) { %>
      <div class='tUr'>You are</div>
      <div class='tResult'>
        <span><%=(isCorrect ? '<span class="tResult-right">Right</span>' : '<span class="tResult-wrong">Wrong</span>')%></span>
      </div>

      <div class='tScore'>Score: <%=score%></div>
    <% } %>
    <div class='tQuestion'><%=question%></div>

    <% if (!finished) { %>
      <div class='tHelper'>Press the correct number on your remote</div>
    <% } %>


    <div class='tQuestions'>
      <% for (var i=0; i<answers.length; i++) { %>
        <button class='answer-<%=i%> <%=(finished && i != correctAnswer ? 'hidden' : '')%>' id='answer-<%=i%>' rel='<%=i%>'>
          <span><%=(i + 1)%></span><%=answers[i]%></button>
      <% } %>
    </div>
  </script>

  <script type='text/html' id='qbar-template' style='display:none'>
    <% for (var i=0; i<answers.length; i++) { %>
      <div class='<%=answers[i].isCorrect%> <%=(answers[i].isActive ? 'active' : '')%>' style='left: <%=answers[i].left%>%; width: <%=answers[i].width%>'></div>
    <% } %>
  </script>

  <script src="lib/maf.js?scale=720"></script>
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src='node_modules/lodash/lodash.min.js'></script>
  <script src='js/store.js'></script>
  <script src='js/player.js'></script>
  <script>
  var url = '//d.pr/v/exjG+';
  var questions = {
    7: {
      offset: 3,
      question: 'I need your clothes, your boots and your...',
      answers: [
        'Money',
        'Woman',
        'Sunglasses',
        'Motorcycle'
      ],
      correctAnswer: 3
    },

    30: {
      offset: 5,
      question: 'John wants T-800 to',
      answers: [
        'Bring an ice-cream',
        'Stand on one foot',
        'Sing a song',
        'Save Sarah'
      ],
      correctAnswer: 1
    },

    45: {
      offset: 5,
      question: 'What is T-800 going to do?',
      answers: [
        'Smile',
        'Drink',
        'Cry',
        'High-five'
      ],
      correctAnswer: 0
    }
  };
  window.Player.init(url, questions);
  </script>
</body>
</html>
