<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Player</title>
  <link rel='stylesheet' href='css/main.css' />
</head>
<body>
  <div class='player'>

    <video
      id='player'
      src=''>
      <source src= '' type="video/mp4" />
    </video>

    <div class="qBar" id="q-bar"></div>
    <div type="range" class='seekBar' id="seek-bar" />
      <div class='progress' id='progress'></div>
    </div>

    <div id="question"></div>
    <div id="answer"></div>
    <progress id="progress-timeout" min="0" max="100" value="0"></progress>

    <div class="question-upcoming-notification hidden">
      <p>Grab your remote!</p>
      <div class="notification-circle">
        <span class="time">10</span>
        <span>seconds</span>
      </div>
      <p>New question is coming up!</p>
    </div>

  </div>

  <script type='text/html' id='question-template' style='display:none'>
    <% if (finished) { %>
      <div class='tUr'>You are</div>
      <div class='tResult'>
        <span><%=(isCorrect ? 'Right' : 'Wrong')%></span>
      </div>

      <div class='tScore'>Score: <%=score%></div>
    <% } %>
    <div class='tQuestion'><%=question%></div>

    <% if (!finished) { %>
      <div class='tHelper'>Press the correct number on your remote</div>
    <% } %>


    <div class='tQuestions'>
      <% for (var i=0; i<answers.length; i++) { %>
        <button class='answer-<%=i%> <%=(finished && i != correctAnswer ? 'hidden' : '')%>' id='answer-<%=i%>' rel='<%=i%>'>
          <span><%=(i + 1)%></span><%=answers[i]%></button>
      <% } %>
    </div>
  </script>

  <script type='text/html' id='qbar-template' style='display:none'>
    <% for (var i=0; i<answers.length; i++) { %>
      <div class='<%=answers[i].isCorrect%> <%=(answers[i].isActive ? 'active' : '')%>' style='left: <%=answers[i].left%>%'></div>
    <% } %>
  </script>

  <script src="lib/maf.js"></script>
  <script src='node_modules/lodash/lodash.min.js'></script>
  <script src='js/store.js'></script>
  <script src='js/player.js'></script>
  <script>
  var url = '//sourcejs.com/tmp/demo-movie-cropped.mp4';
  var questions = {
    7: {
      offset: 3,
      question: 'I need your clothes, your boots and your...',
      answers: [
        'money',
        'woman',
        'sunglasses',
        'motorcycle'
      ],
      correctAnswer: 3
    },

    30: {
      offset: 5,
      question: 'John wants T-800 to',
      answers: [
        'bring an ice-cream',
        'stand on one foot',
        'sing a song',
        'save Sarah'
      ],
      correctAnswer: 1
    },

    45: {
      offset: 5,
      question: 'What\'s T-800 is going to do?',
      answers: [
        'Smile',
        'Drink',
        'Cry',
        'High-five'
      ],
      correctAnswer: 0
    }
  };
  window.Player.init(url, questions);
  </script>
</body>
</html>
